<!doctype html>

<head>
    <style>
        img {
            position: aboslute;
            top: 0px; left: 0px;
            width: 100%;
        }
    </style>
</head>
<!-- <body>
    <img src="https://i.postimg.cc/gkk4bc9D/wshs-edited.png" usemap="#image-map">
</body> -->

<!-- <map name="image-map">
    <area target="_self" alt="Picnic Corner" title="Picnic Corner" href="Picnic" coords="71,107,321,207" shape="rect">
</map> -->
<body>
    
    <img src="https://i.postimg.cc/8kb7DLfg/1920-960.png" usemap="#image-map">

    <map name="image-map">
        <area target="_parent" alt="dsfsdfsdf" title="dsfsdfsdf" href="Spring" coords="486,337,745,491" shape="rect">
    </map>
</body>